<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BQEV23K.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <BQEV23K.Properties.Settings>
            <setting name="CellCount" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="TaperCurrent" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="TerminationVoltage" serializeAs="String">
                <value>11400</value>
            </setting>
            <setting name="ChargeRelaxHours" serializeAs="String">
                <value>2.1</value>
            </setting>
            <setting name="DischargeRelaxHours" serializeAs="String">
                <value>5.1</value>
            </setting>
            <setting name="IP_Load" serializeAs="String">
                <value>192.168.14.20</value>
            </setting>
            <setting name="CycleRepetitions" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TermVoltageCell" serializeAs="String">
                <value>2500</value>
            </setting>
        </BQEV23K.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
